.cabecalho{
background-color: #2D5377;
color: #FFF;
text-align: center;
font-size: 0.6rem;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0.23em;
}

.cabecalho__logo{
    padding: 1.5em 0;
    width: 14.5em;
}
